<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witch | Configurações</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='witch.png')}}">
</head>
<body id="body-config"> 
    <header id="header">
        <div class="logo"><a href="{{url_for('config')}}"><img id="logo" src="{{url_for('static', filename='witch.png')}}" alt="logo"></a></div>
        <div class="header-center">
            <!--BARRA DE PESQUISA-->
            <div class="bottom-menu">
                <div class="search-bar">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div> 
                    <input type="text" id="search" placeholder="Pesquise aqui" data-i18n-placeholder>
                </div>
            </div>
        </div>

        <div class="menu-modals">
            <a href="{{url_for('luna')}}" target="_blank" aria-placeholder="Luna"><img src="{{url_for('static', filename='coroa.png')}}" id="luna" alt="coroa"></a>
            
            <button id="btn-turbo" title="Turbo"><img src="{{url_for('static', filename='bateria.png')}}" alt=""></button>
            
            <!--MENU HAMBÚRGUER-->
            <div class="dropdown-menu-wrap">
                <button class="open-modal" id="btn-dropdown">
                    <img src="{{url_for('static', filename='user.png')}}" alt="menu" id="menu-icon">
                </button>

                <div id="dropdown-menu" class="dropdown-menu">
                    <ul>
                        <li id="language-item" class="submenu-item">
                            <span data-i18n>Idioma</span>
                            <span class="arrow">></span>

                            <div id="language-submenu" class="submenu">
                                <ul>
                                    <li class="language-option" data-lang="pt">🇧🇷 Português</li>
                                    <li class="language-option" data-lang="en">🇺🇸 English</li>
                                    <li class="language-option" data-lang="es">🇪🇸 Español</li>
                                </ul>
                            </div>
                        </li>
                        <hr>
                        <li class="toggle-item">
                            <span data-i18n>Tema Escuro</span>
                            <label class="switch">
                                <input type="checkbox" id="dark-theme">
                                <span class="slider"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="header-config">
        <h1 data-i18n>Configurações</h1>
        <nav class="nav-config">
            <a data-i18n href="#" data-target="seg">Segurança</a>
            <a data-i18n href="#" data-target="not">Notificações</a>
            <a data-i18n href="#" data-target="con">Conexões</a>
            <a data-i18n href="#" data-target="pref">Preferências</a>
        </nav>
    </div>

    <section id="seg" class="section-config active">
        <h1>Segurança</h1>
    </section>
    <section id="not" class="section-config">
        <h1>Notificações</h1>
    </section>
    <section id="con" class="section-config">
        <h1>Conexões</h1>
    </section>
    <section id="pref" class="section-config">
        <h1>Preferências</h1>
    </section>

    <aside class="small-aside">
        <a href="{{url_for('config')}}" class="aside-link" id="aside-config"><img src="{{url_for('static', filename='setting.png')}}" alt="icon-config"></a>

        <a href="{{url_for('ajuda')}}" class="aside-link"><img src="{{url_for('static', filename='help.png')}}" alt="icon-help"></a>
    </aside>

    <script src="{{url_for('static', filename='tradutor.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>