<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oiii</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo1.png') }}">
</head>
<body>
    <header id="header">
        <div class="logo"><a href="inicio.html"><img id="logo" src="{{ url_for('static', filename='logo1.png') }}" alt="logo"></a></div>
        <div class="header-center">
            <!--MENU SUPERIOR-->
            <div class="top-menu">
                <nav><a class="menu-nav home-page" href="inicio.html">Início</a></nav>
                <nav><a class="menu-nav following-page" href="seguindo.html">Seguindo</a></nav>
                <nav><a class="menu-nav explore-page" href="explorar.html">Explorar</a></nav>
            </div>
            <!--BARRA DE PESQUISA-->
            <div class="bottom-menu">
                <div class="search-bar">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div> 
                    <input type="text" id="search" placeholder="Pesquise aqui">
                </div>
            </div>
        </div>

        <div class="menu-modals">
            <a href="{{ url_for('luna')}}" target="_blank" aria-placeholder="Luna"><img src="{{ url_for('static', filename='coroa.png') }}" id="luna" alt="coroa"></a>

            <!--MODAL DO LOGIN-->
            <button class="open-modal" data-modal="modal-1">Entrar</button>

            <!--dialog = modal-->
            <dialog id="modal-1">
                    <div id="wrap">
                        <div class="form-header">                                
                            <!--botão para alternar entre cadastro e login-->
                            <div class="change-button">
                                <!--frente da div de trocar card-->
                                <div class="change-button1">
                                    <!--note que um elemento pode ter mais de um nome de class, apenas separe por um espaço-->
                                    <button class="close-modal login-close-button" data-modal="modal-1">X</button>
                                    <h6><span>Entrar</span><span>Cadastrar</span></h6>
                                    <input type="checkbox" class="checkbox" id="checkbox">
                                    <label for="checkbox"></label>
                                </div>
                                <!--costas da div de trocar card-->
                                <div class="change-button2">
                                    <button class="close-modal login-close-button" data-modal="modal-1">X</button>
                                    <h6><span>Entrar</span><span>Cadastrar</span></h6>
                                    <input type="checkbox" class="checkbox" id="checkbox">
                                    <label for="checkbox"></label>
                                </div>
                            </div>
                        </div>

                        <!--card do login-->
                        <div id="wrapper">
                            <div id="login">
                                <form action="#" method="post" class="login forms">
                                    <h2>Entrar</h2>
                                    <div class="caixa-input">
                                        <input type="text" id="user_email" name="user_email" required>
                                        <label for="user_email">Nome de Usuário ou Email</label>
                                    </div>
                                    <div class="caixa-input password-box">
                                        <input type="password" class="password" name="password" required>
                                        <label for="password">Senha</label>
                                        <p class="erroSenha">Senha Inválida (mínimo 5 caracteres)</p>
                                    </div>
                                    <div class="forgot-password">
                                        <a href="#">Esqueceu a senha?</a>
                                    </div>
                                    <button type="submit">Entrar</button>
                                </form>
                            </div>

                            <!--card de colocar email para receber o código-->
                            <div id="email-forgot-password">
                                <div class="center-wrap">
                                    <form action="#" method="post" class="email-forgot-password forms">
                                        <h2>Coloque o Email</h2> <br>
                                        <p>Por favor, insira o email associado à sua conta para receber o código de redefinição de senha.</p> <br><br><br><br><br>
                                        <div class="caixa-input">
                                            <input type="email" id="email-forgot" class="email" name="email" required>
                                            <label for="email">Email</label>
                                        </div> <br><br><br><br><br>
                                        <button type="submit" id="receber-codigo">Receber Código</button>
                                    </form>
                                </div>
                            </div>

                            <!--card de colocar o código recebido por email-->
                            <div id="insert-code">
                                <div class="center-wrap">

                                    <form action="#" method="post" class="insert-code forms">
                                        <h2>Insira o Código</h2> <br>
                                        <p>Por favor, insira o código enviado para o seu email.</p> <br><br><br>
                                        <div class="otp-container">
                                            <input type="text" maxlength="1" class="otp-input">
                                            <input type="text" maxlength="1" class="otp-input">
                                            <input type="text" maxlength="1" class="otp-input">
                                            <input type="text" maxlength="1" class="otp-input">
                                            <input type="text" maxlength="1" class="otp-input">
                                        </div> <br><br><br>
                                        <p id="timerText">Reenviar código em 60s</p>
                                        <button id="resendBtn" disabled>Reenviar Código</button>
                                        <button type="submit" id="continueBtn">Continuar</button>
                                    </form>
                                </div>
                            </div>

                            <!--card de criar nova senha-->
                            <div id="new-password">
                                <div class="center-wrap"> 
                                    <form action="#" method="post" class="new-password forms">
                                        <h2>Redefina sua Senha</h2> <br>
                                        <p>Por favor, insira uma nova senha para sua conta, .</p> <br><br><br>
                                        <div class="caixa-input password-box">
                                            <input type="password" class="password password1" name="password" required>
                                            <label for="password">Nova Senha</label>
                                            <p class="erroSenha">Senha Inválida (mínimo 5 caracteres)</p>
                                        </div><br>
                                        <div class="caixa-input">
                                            <input type="password" class="password2" name="password" required>
                                            <label for="password">Confirmar Senha</label>
                                            <p class="erroSenha2">A senha não é igual</p>
                                        </div><br><br><br>
                                        <button type="submit" id="backLogin">Voltar ao Login</button>
                                    </form>
                                </div>
                            </div>

                            <!--card do cadastro-->
                            <div id="cadastro">
                                <form action="#" method="post" class="sign forms">
                                    <h2>Cadastre-se</h2>
                                    <div class="caixa-input">
                                        <input type="text" id="user-cadastro" name="user" required>
                                        <label for="user">Usuário</label>
                                    </div>
                                    <div class="caixa-input">
                                        <input type="text" id="cpf" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required>
                                        <label for="cpf">CPF</label>
                                    </div>
                                    <div class="caixa-input">
                                        <input type="email" class="email" id="email" name="email" required>
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="caixa-input"> <!--pattern = regex, expressão regular, formato específico para o input-->
                                        <input type="text" id="data-nascimento" name="data_nascimento" pattern="\d{2}\/\d{2}\/\d{4}" required>
                                        <label for="data_nascimento">Data de Nascimento</label>
                                        <p id="erroIdade">Deve ser maior de 18 anos</p>
                                    </div>
                                    <div class="caixa-input password-box">
                                        <input type="password" class="password" id="senha"name="password" required>
                                        <label for="password">Senha</label>
                                        <p class="erroSenha">Senha Inválida (mínimo 5 caracteres)</p>
                                    </div>
                                    <button type="submit">Cadastrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                
            </dialog>

            <div id="toast"></div>
            
            <!--MODAL DO MENU HAMBÚRGUER-->
        <button class="open-modal"><img src="{{ url_for('static', filename='menu.png')  }}" alt="menu" id="menu-icon"></button>
        </div>
    </header>

    <aside>
        <button type="button" id="back-aside">&#8658;</button><br><br>
    </aside>
    <h1 id="texto">asdfghjklhhhh <br>
        sssssssssssssssss<br>ssssssssssssssssssssss<br>
    <br><br><br><br><br><br><br><br><br><br>ssssssssssssssss<br><br><br><br><br><br><br><br><br><br><br><br><br><br>sssssssssss</h1>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>